html {
    font-family: 'Exo 2', sans-serif;
    background-color: #272822;
}

body {
    font-size: 1.2em;
    margin: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
}

h1 {
    font-weight: 400;
    font-size: 3em;
    line-height: 100%;
    margin-bottom: 0;
    padding: 0;
}

p.desc {
    margin-top: 0.6em;
    margin-bottom: 1.8em;
}

/* jQuery Terminal */
.terminal {
    --color: #ECEFF4;
    --background: #3B4252;
    --size: 1.4;
    --link-color: #8FBCBB;
    font-family: 'Fira Mono', monospace;
    --animation: terminal-bar;
}

.terminal, .terminal .terminal-fill {
    padding: 1.2em;
}

.terminal,
.terminal-output > :not(.raw) span,
.terminal-output > :not(.raw) a,
.terminal-output > :not(.raw) div,
.cmd,
.cmd span,
.cmd div {
    font-family: 'Fira Mono', monospace;
}

.terminal-output > div {
    padding-bottom: .5em;
}

.terminal-output > div.terminal-command {
    padding-bottom: 0em;
}

.prompt {
    font-weight: bold;
    /* workaround for https://github.com/sharkdp/insect/issues/78 */
    letter-spacing: 1px;
}

/* syntax highlighting */

.hl-emphasized {
    font-weight: 700 !important;
}

.hl-error {
    color: #F92672 !important;
}

.hl-value {
    /* color: #66D9EF !important; */
    color: #8FBCBB !important;
}

.hl-identifier {
    /* color: #FD971F !important; */
    color: #BF616A !important;
}

.hl-function {
    font-style: italic !important;
}

.hl-unit {
    /* color: #A6E22E !important; */
    color: #EBCB8B !important;
}
.titlebar {
  height: 30px;
  background: #329ea3;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.titlebar-button:hover {
  background: #5bbec3;
}
